rails/log/*
rails/tmp/*
rails/db/development.sqlite3
rails/db/test.sqlite3
spring/bin/*
node/node_modules/*
node/db.json
.DS_Store
.gradle/5.6.2/fileChanges/last-build.bin
.gradle/5.6.2/fileHashes/fileHashes.lock
*.log
*.pot
*.pyc
django/local_settings.py
django/env
.vscode
django/bin
django/lib
django/minicom/__pycache__/*
django/minicom/*/__pycache__/*

django/pyvenv.cfg
django/db.sqlite3
.vscode/settings.json
django/minicom/migrations/0001_initial.py
